hairLength white yellow green red blue brown black
glasses green yellow
facialHair white yellow blue red
eyeColor brown blue green
pimples white yellow green red blue brown black
hat white yellow green red blue brown black
hairColor white black brown red blue
noseShape white yellow green red black
faceShape white black green red blue brown

P1
hairLength blue
glasses green
facialHair white
eyeColor brown
pimples brown
hat blue
hairColor white
noseShape yellow
faceShape white

P2
hairLength blue
glasses green
facialHair yellow
eyeColor brown
pimples blue
hat white
hairColor brown
noseShape white
faceShape red

P3
hairLength white
glasses green
facialHair blue
eyeColor blue
pimples blue
hat red
hairColor red
noseShape green
faceShape white

P4
hairLength white
glasses green
facialHair white
eyeColor blue
pimples brown
hat brown
hairColor red
noseShape green
faceShape white

P5
hairLength yellow
glasses green
facialHair white
eyeColor blue
pimples blue
hat brown
hairColor brown
noseShape white
faceShape red

P6
hairLength white
glasses green
facialHair blue
eyeColor blue
pimples white
hat green
hairColor brown
noseShape yellow
faceShape white

P7
hairLength brown
glasses green
facialHair yellow
eyeColor brown
pimples red
hat green
hairColor brown
noseShape white
faceShape blue

P8
hairLength brown
glasses green
facialHair blue
eyeColor blue
pimples blue
hat yellow
hairColor brown
noseShape white
faceShape blue

P9
hairLength green
glasses green
facialHair blue
eyeColor blue
pimples white
hat yellow
hairColor brown
noseShape white
faceShape black

P10
hairLength yellow
glasses green
facialHair yellow
eyeColor brown
pimples brown
hat brown
hairColor brown
noseShape green
faceShape white
